{% extends 'core/base.html' %} {% block content %}

<div class="container mt-3">
  <div class="col-lg-4">
    <button
      data-bs-toggle="modal"
      onclick="createFileOrFolder('folder')"
      data-bs-target="#modalcreate"
      class="button-79"
    >
      <i class="fa fa-folder"></i> Create Folder
    </button>

    <button
      data-bs-toggle="modal"
      onclick="createFileOrFolder('file')"
      data-bs-target="#modalcreate"
      class="button-79 extrabtn"
    >
      <i class="fa fa-file"></i> Create File
    </button>

    {% include 'core/modal.html' %}
  </div>

  {% include 'core/data.html' %}
</div>

{% endblock content %} {% block script %}
<script>
  const modal_t = document.getElementById("createModal");
  const submitBtn = document.querySelector("#submitBtn");
  const nameinput = document.querySelector("#nameinput");
  const modal = new bootstrap.Modal(document.getElementById("modalcreate"));

  function createFileOrFolder(type) {
    modal_t.innerText = `Create ${type}`;
    nameinput.setAttribute("placeholder", `${type} name`);
    submitBtn.setAttribute("name", type);
    submitBtn.setAttribute("value", `Create ${type}`);
  }

  htmx.on("htmx:afterSwap", (e) => {
    nameinput.value = "";
    modal.hide();
  });
</script>
{% endblock script %}
