<div class="modal fade" id="modalcreate" tabindex="-1" aria-labelledby="createModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createModal"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form 
          id="post_modal"
          hx-target="#home-div"
          hx-post="{% url 'home' %}" 
          hx-trigger="submit"
          >
            <input id="nameinput" type="text" name="filename" class="form-control">
            <input type="submit" id="submitBtn" class="button-79 mt-3 ">
          </form>
        </div>
      </div>
    </div>
  </div>